<!DOCTYPE html>
<html lang="en">

<!--    flashing messages template. theres probably a better way to do it and implement it as an alert.

{% with messages = get_flashed_messages() %} {% if messages %} {% for
message in messages %}
<p>{{ message }}</p>
{% endfor%} {% endif %} {% endwith %}
-->


{% block content %}

{% endblock %}

    <!-- script for continual pinging
    <script>
        var intervalId = setInterval(function () {
            alert("Interval reached every 5s")
        }, 5000);
    </script>
-->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</html>