{% extends 'base.html' %}
{% block content %}

<head>
</head>

<body>

    <div class="container">
        <div>
            <a href="{{ url_for('index') }}"><button>return to homepage</button></a>
        </div>

        <div class="text-center">
            <h1>SMART BIN {{ device[1] }}</h1>

            <form action="" method="post">
                {{ maxdistform.hidden_tag() }}
                <p> Current Max distance is {{ maxdistance }} <br>
                    Max recorded distance is {{ maxdistanceinentries }} <br>
                    {{ maxdistform.maxDistance( type="number", min="0", max="40",step=".01") }}
                    {{ maxdistform.submit }}
                </p>
                {% for error in maxdistform.maxDistance.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}


            </form>
            {#
            <!--
            <form onsubmit="changemaxdistance( {{ deviceid }})">
                <div>
                    <label>Change max value. Current = {{ maxdistance }}</label>
                    <input step=".01" required type="number" min="0" max="40" id="changedistancevalue"></input>
                    <input type=submit>
                    </input>
                </div>
            </form>
        -->
            #}
            <div>
                <iframe src="/api/drawplot/{{ device[0] }}" style="width: 700px; height: 700px"></iframe>
            </div>
            <div>
                {% for entry in entries %}
                <p>Distance at {{ entry[2] }} is {{ entry[3] }} cm</p>

                {% endfor %}

            </div>


        </div>
    </div>

    <script>

        function changemaxdistance(deviceid) {

            maxdistance = document.getElementById("changedistancevalue").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert("maxdistance changed");
                }
                else if (this.readyState == 4 && this.status != 200) {
                    alert("Error reported, Status code " + this.status);
                }
            }
            xhttp.open("POST", "/api/changemaxdistance/", false);
            xhttp.setRequestHeader('Content-type', 'application/json');
            xhttp.send(JSON.stringify({ "maxdistance": maxdistance, "deviceid": deviceid }));

        }</script>

</body>
{% endblock %}