{% extends 'base.html' %}
{% block content %}

<head>
</head>

<body>

    <div class="container">
        <div>
            <a href="{{ url_for('index') }}"><button>return to homepage</button></a>
        </div>

        <div class="text-center">
            <h1>SMART BIN {{ device[1] }}</h1>
            <div>
                <iframe src="/api/drawplot/{{ device[0] }}" style="width: 700px; height: 700px"></iframe>
            </div>
            <div>
                {% for entry in entries %}
                <p>Distance at {{ entry[2] }} is {{ entry[3] }} cm</p>

                {% endfor %}

            </div>


        </div>
    </div>

</body>
{% endblock %}