{% extends 'base.html' %}
{% block content %}

<head>
</head>

<body>

    <div class="container">
        <div>
            <a href="{{ url_for('index') }}"><button>return to homepage</button></a>
        </div>

        <div class="text-center">
            <h1>SMART BIN {{ device[1] }}</h1>
            <p>Current percentage = {{ currentpercentage }}% </p>
            {% if device[4] %}
            <p> location {{ device[4] }} {{ device[5] }}</p>
            {% else %}
            <p> location unknown</p>
            {% endif %}


            <form action="" method="post">
                {{ maxdistform.hidden_tag() }}
                <p> Current Max distance is {{ maxdistance }} <br>
                    Max recorded distance is {{ maxdistanceinentries }} <br>
                    {{ maxdistform.maxDistance( type="number", min="0", max="100",step=".01") }}
                    {{ maxdistform.submit }}
                </p>
                {% for error in maxdistform.maxDistance.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}


            </form>

            {#
            <!--
            <form onsubmit="changemaxdistance( {{ deviceid }})">
                <div>
                    <label>Change max value. Current = {{ maxdistance }}</label>
                    <input step=".01" required type="number" min="0" max="40" id="changedistancevalue"></input>
                    <input type=submit>
                    </input>
                </div>
            </form>
        -->
            #}
            <div>
                <h3>Distances</h3>
                <div>
                    <label for="changegraphstartdate">Select Start Date</label>
                    <input type="datetime-local" id="changegraphstartdate" name="changegraphstartdate">

                    <label for="changegraphenddate">Select End Date</label>
                    <input type="datetime-local" id="changegraphenddate" name="changegraphenddate">
                </div>
                <div>
                    <input type="button" onclick="changegraphdates(1)" value="update distance graph">
                </div>
                <div>
                    <iframe src="/api/drawplot/{{ device[0] }}/0/0" id=distanceplot
                        style="width: 700px; height: 700px"></iframe>
                </div>

            </div>


            <div>
                <h3>Temperatures</h3>
                <div>
                    <label for="changetempgraphstartdate">Select Start Date</label>
                    <input type="datetime-local" id="changetempgraphstartdate"
                        name="changetempgraphstartdatechangetempgraphstartdate">

                    <label for="changetempgraphenddate">Select End Date</label>
                    <input type="datetime-local" id="changetempgraphenddate" name="changetempgraphenddate">
                </div>
                <div>
                    <input type="button" onclick="changetempgraphdates(1)" value="update temperature graph">
                </div>
                <div>
                    <iframe src="/api/drawtemperatureplot/{{ device[0] }}/0/0" id="temperatureplot"
                        style="width: 700px; height: 700px"></iframe>
                </div>
            </div>

        </div>
    </div>

    <script>

        function changemaxdistance(deviceid) {

            maxdistance = document.getElementById("changedistancevalue").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert("maxdistance changed");
                }
                else if (this.readyState == 4 && this.status != 200) {
                    alert("Error reported, Status code " + this.status);
                }
            }
            xhttp.open("POST", "/api/changemaxdistance/", false);
            xhttp.setRequestHeader('Content-type', 'application/json');
            xhttp.send(JSON.stringify({ "maxdistance": maxdistance, "deviceid": deviceid }));

        }

        function changegraphdates(deviceid) {

            startdate = document.getElementById("changegraphstartdate").value;
            enddate = document.getElementById("changegraphenddate").value;
            if (startdate && enddate) {
                console.log(startdate);
                console.log(enddate);
                //alert(date);
                document.getElementById("distanceplot").src = "/api/drawplot/" + deviceid + "/" + startdate + "/" + enddate + "/";
            }

        }

        function changetempgraphdates(deviceid) {

            startdate = document.getElementById("changetempgraphstartdate").value;
            enddate = document.getElementById("changetempgraphenddate").value;
            if (startdate && enddate) {
                console.log(startdate);
                console.log(enddate);
                //alert(date);
                document.getElementById("temperatureplot").src = "/api/drawtemperatureplot/" + deviceid + "/" + startdate + "/" + enddate + "/";
            }

        }



    </script>

</body>
{% endblock %}