<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

<p> SMART BIN </p>
<iframe width="281" height="268" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTIgPoOq1dwdC-01yOC7ZKb7avmPj2I_X7T8Q75IoH7RgbbD1SlIvkgjfki3iw7WGDKfdmFWU1bLIGd/pubchart?oid=689500196&amp;format=interactive"></iframe>
<iframe width="281" height="268" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTIgPoOq1dwdC-01yOC7ZKb7avmPj2I_X7T8Q75IoH7RgbbD1SlIvkgjfki3iw7WGDKfdmFWU1bLIGd/pubchart?oid=1944260502&amp;format=interactive"></iframe>

</body>

</html>