<head>
</head>

{% extends 'base.html' %}
{% block content %}

<body>

    <div class="container">
        <div class="text-center">
            <h1>SMART BINS</h1>
            <p class="lead">List of devices</p>

            {% for device in devices %}
            {{ device[1] }}
            {% set currentpercentage= format(((device[3] - getlatestdistancevalue(device[0]))/device[3])*100,".2f") %}
            current level = {{ currentpercentage }}%
            <a href="{{ url_for('entries', deviceid = device[0]) }}"><button>check data</button></a>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div style="text-align:center; color: red;"><br>
            <span id="alertmessage"></span>
            {% with messages = get_flashed_messages() %} 
                {% if messages %} 
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor%} 
                {% endif %} 
            {% endwith %}
        </div>
    </div>
    <div class="container">
        <div id="Gotbutton" style="text-align: center; display: none;">
        <button onclick="removealert()">Got it</button>
    </div>
    </div><hr><br>
    <div style="text-align: center;">
        <h1>Battery Remmaining</h1>
    </div><br>
    <div class="row">
        <div class="column textstyle" style="text-align: center;">
            {% for device in devices %}
            {{ device[1] }}
            {% endfor %}
            <br><br>
            <p class="textstyle" id="device1"></p>
            <div class="batterywrap">
                <div class="battery">
                    <div class="box">
                    </div>
                    <div class="remain" id="remain1"></div>
                </div>
            </div>
        </div>
        <div class="column textstyle" style="text-align: center;">
            {% for device in devices %}
            {{ device[1] }}
            {% endfor %}
            <br><br>
            <p class="textstyle" id="device2"></p>
            <div class="batterywrap">
                <div class="battery">
                    <div class="box">
                    </div>
                    <div class="remain2" id="remain2"></div>
                </div>
            </div>
        </div>
        <div class="column textstyle" style="text-align: center;">
            {% for device in devices %}
            {{ device[1] }}
            {% endfor %}
            <br><br>
            <p class="textstyle" id="device3"></p>
            <div class="batterywrap">
                <div class="battery">
                    <div class="box">
                    </div>
                    <div class="remain3" id="remain3"></div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}