<head>
</head>

{% extends 'base.html' %}
{% block content %}

<body>

    <div class="container">
        <div class="text-center">
            <h1>SMART BINS</h1>
            <p class="lead">List of devices</p>

            {% for device in devices %}
            {{ device[1] }}
            {% set currentpercentage=(device[3] - getlatestdistancevalue(device[0]))/device[3] %}
            current level {{ currentpercentage }}
            <a href="{{ url_for('entries', deviceid = device[0]) }}"><button>check data</button></a>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div style="text-align:center; color: red;"><br>
            <span id="alertmessage"></span>
            {% with messages = get_flashed_messages() %} 
                {% if messages %} 
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor%} 
                {% endif %} 
            {% endwith %}
        </div>
    </div>
</body>

{% endblock %}